@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #5d5e67;
  --background-color: #ececec;
}

.dark {
  --font-color: #ffffff;
  --background-color: #34363f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
  overflow: hidden;
}

#root {
  position: relative;
  display: flex;
  flex-direction: row;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
